%h1 Listing items

%table.table
  %thead
    %tr.table-info
      %th.w-25 Item Name
      %th.w-25 Price
      %th.w-25 Date Posted
      %th

  %tbody
    - @items.order(:created_at => :desc).each do |item|
      %tr
        - day = item.created_at.day.ordinalize
        %td= item.name
        %td= "#{number_to_currency(item.price)}"
        %td= item.created_at.strftime("%B #{day}, %Y at %l:%M%P")
        %td.text-nowrap
          = link_to 'View', item, :class => 'btn btn-primary'
          = link_to 'Edit', edit_item_path(item), :class => 'btn btn-warning'
          = link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'

%br

= link_to '+ New Item', new_item_path, :class => 'btn btn-success'
