%h1 Listing locations

%table.table
  %thead
    %tr.table-info
      %th City
      %th State
      %th

  %tbody
    - @locations.order(:state, :city).each do |location|
      %tr
        %td= location.city
        %td= location.state
        %td.text-nowrap
          = link_to 'View', location, :class => 'btn btn-success'
          = link_to 'Edit', edit_location_path(location), :class => 'btn btn-warning'
          = link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'

%br

= link_to '+ New Location', new_location_path, :class => 'btn btn-success'
