!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title StarList
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body

    .topbar
      %h4.float-left.m-0.notice= notice
      %h4.float-left.m-0.alert= alert
      .float-right
        - if current_user
          = link_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-link'
        - else
          = link_to "Sign up", new_registration_path(:user), :class => 'btn btn-link'
      .clearfix
    = yield
